<h1>Adicionar Anime</h1>
<form action="/tasks/add" method="post">
<div class="form-control">
    <label for="title">Título:</label>
    <input type="text" name="title" placeholder="Titulo do Anime">
</div>
<div class="form-control">
    <label for="lancamento">Ano de lançamento:</label>
    <input type="text" name="lancamento" placeholder="Ano de lançamento do Anime">
</div>
<div class="form-control">
    <label for="descricao">Descrição:</label>
    <textarea type="text" name="descricao" placeholder="Descrição do Anime"></textarea>
</div>
<input type="submit" value="Cadastrar">
</form>